<div class="ui container raised very padded segment">
  <!-- <h3>Поделите дебет к кредиту</h3> -->

  <div class="audio-wrapper">
    <button routerLink="/home" class="ui blue basic button">Вернуться к губернатору</button>
    <button (click)="onReset()" class="ui blue basic button">Попробовать еще раз</button>
    <button (click)="playAudio(mySwitch)" class="ui blue basic button">Послушать еще раз</button>
    <app-wave *ngIf="wave"></app-wave>
  </div>

  <!-- <p>Примите взвешенное решение</p> -->

  <div class="image-wrapper">
    <img src="/assets/pics/M-3-Lady.png" />
    <img src="/assets/pics/M-3-Plan.png" />
    <img src="/assets/images/M-1-Task-Vesy-0.jpeg" />
    <img src="/assets/images/M-1-Task-Seif.jpeg" />
  </div>


  <div class="task-wrapper">

    <h2 [ngClass]="{'red': sum < 0}">Бюджет: {{sum}}</h2>

    <table class="ui table celled">

      <thead>
        <tr>
          <th>Расходы</th>
          <th>Доходы</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>
            <input type="text" (input)="onInput($event.target.value)">
            Благоустройство
          </td>
          <td>
            <input type="text" (input)="onInput($event.target.value)">
            Транш из федерального бюджета
          </td>
        </tr>

        <tr>
          <td>
            <input type="text" (input)="onInput($event.target.value)">
            Образование
          </td>
          <td>
            <input type="text" (input)="onInput($event.target.value)">
            Налоги
          </td>
        </tr>

        <tr>
          <td>
            <input type="text" (input)="onInput($event.target.value)">
            Транспорт
          </td>
          <td>
            <input type="text" (input)="onInput($event.target.value)">
            Продажа сырья
          </td>
        </tr>

      </tbody>

    </table>

  </div>

</div>
