<a routerLink="/home">
  <!-- <img src="/assets/images/MINISTERY-root-1.png" /> -->

  <section class="intro">
    В одном царстве-государстве жил да был губернатор. И было у него три министра...
  </section>

  <!-- Change the text to your liking -->
  <div id="board">
    <div id="content">
      <p id="title">Эпизод I</p>
      <p id="subtitle">Новый наследник</p>
      <br>
      <!-- And make it cheesy ! -->
      <p>Созвал как-то губернатор своих помощников и прислужников, и глаголет им: хочу, де, наследника среди вас
        выбрать. Кто будет шибче умом, кто сослужит мне службу - того и выберу.</p>
    </div>
  </div>

</a>
