<a routerLink="/home">
  <!-- <img src="/assets/images/MINISTERY-root-1.png" /> -->

  <section class="intro">
    A long time ago, in a galaxy far,<br> far away....
  </section>

  <!-- Change the text to your liking -->
  <div id="board">
    <div id="content">
      <p id="title">Episode I</p>
      <p id="subtitle">THE CODER'S MENACE</p>
      <br>
      <!-- And make it cheesy ! -->
      <p>Turmoil has engulfed the Galactic Republic as Christopher Kade finishes studying to become a master in his
        trade.</p>
    </div>
  </div>

</a>
